<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" src="/web_servers/public/css/style.css">
    <title>Weather App</title>
</head>
<body>
    {{>header}}
    {{>footer}}
    <div class="about-section">
  <h1>Weather App in Node js</h1>
  <p>This is a weather app create by Gohar Fatima.</p>
  <p>It uses Express, Mongo DB and node Js with few more technologies</p>
</div>

<h1 style="text-align:center">Our Partners</h1>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://designshack.net/wp-content/uploads/weatherstack.png" alt="Jane" style="width:100%">
      <div class="container">
        <h2></h2>
        <p class="title">RESTFul Weather API</p>
        <p>Real-Time & Historical World Weather Data API</p>
        <a href="https://weatherstack.com/">Visit WeatherStack!</a>
        <p><button class="button">Visit</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://designshack.net/wp-content/uploads/weatherstack.png" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Geoapify</h2>
        <p class="title">Geoapify Location Platform</p>
        <p>Develop location-aware apps for your business with our user friendly APIs and location services</p>
        <a href="https://www.geoapify.com/">Visit Geoapify!</a>
       <p><button class="button">Visit</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://designshack.net/wp-content/uploads/weatherstack.png" alt="John" style="width:100%">
      <div class="container">
        <h2>Heroku</h2>
        <p class="title">Cloud application Platform</p>
        <p>Develop location-aware apps for your business with our user friendly APIs and location services</p>
        <a href="https://www.heroku.com/pricing">Visit heroku!</a>
        <p><button class="button">visit</button></p>
      </div>
    </div>
  </div>
</div>
    
    
    
</body>
</html>